.medal {
    display: table;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin: 5px;
}

.medal-outer {
    display: table-cell;
    vertical-align: middle;
}

.medal-inner {
    margin-left: auto;
    margin-right: auto;
}

.medal-img {
    border-radius: 50%
}

.medal-round {
    border-radius: 50%;
}

.gold {
    background: #ffd700;
}

.gold-text {
    /* color: #d7af00; */
    color: #ffd700;
}

.silver {
    background: #c0c0c0;
}

.silver-text {
    /* color: #9d9d9d; */
    color: #c0c0c0;
}

.bronze {
    background: #cd7f32;
}

.bronze-text {
    /* color: #a56b2d; */
    /* color: #cd7f32; */
    color: #ffd700;
}

.medal-container {
    display: inline-block;
    background: #282828;
    padding: 5px 30px 5px 10px;
    border-radius: 5%;
    width: 280px;
    height: 100%;
    overflow: hidden;
}

.medal-avatar {
    float: left;
}

.medal-container-title {
    white-space: nowrap;
    font-size: 1.2em;
}

.medal-container-text {
    margin-left: 10px;
    word-wrap: break-word;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: rgba(51, 51, 51, 0.7);
}

.alert-div {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #64c864;
}

.suggestion-success {
    animation-name: success-anim;
    animation-duration: 3s;
}

.suggestion-failure {
    animation-name: failure-anim;
    animation-duration: 3s;
}

@keyframes success-anim {
    0%   {
        background-color: #337ab7;
        border-color: #2e6da4;
    }
    50%  {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    100% {
        background-color: #337ab7;
        border-color: #2e6da4;
    }
}

@keyframes failure-anim {
    0%   {
        background-color: #337ab7;
        border-color: #2e6da4;
    }
    50%  {
        background-color: #d9534f;
        border-color: #d43f3a;
    }
    100%   {
        background-color: #337ab7;
        border-color: #2e6da4;
    }
}