.btn-steamstats {
    color: #fff;
    background-color: #5b667a;
    border-color: #465476;
}
.btn-steamstats:focus,
.btn-steamstats.focus {
    color: #fff;
    background-color: #314c71;
    border-color: #1b3135;
}
.btn-steamstats:hover {
    color: #fff;
    background-color: #314c71;
    border-color: #263658;
}
.btn-steamstats:active,
.btn-steamstats.active,
.open > .dropdown-toggle.btn-steamstats {
    color: #fff;
    background-color: #314c71;
    border-color: #263658;
}
.btn-steamstats:active:hover,
.btn-steamstats.active:hover,
.open > .dropdown-toggle.btn-steamstats:hover,
.btn-steamstats:active:focus,
.btn-steamstats.active:focus,
.open > .dropdown-toggle.btn-steamstats:focus,
.btn-steamstats:active.focus,
.btn-steamstats.active.focus,
.open > .dropdown-toggle.btn-steamstats.focus {
    color: #fff;
    background-color: #263658;
    border-color: #1b3135;
}
.btn-steamstats:active,
.btn-steamstats.active,
.open > .dropdown-toggle.btn-steamstats {
    background-image: none;
}
.btn-steamstats.disabled:hover,
.btn-steamstats[disabled]:hover,
fieldset[disabled] .btn-steamstats:hover,
.btn-steamstats.disabled:focus,
.btn-steamstats[disabled]:focus,
fieldset[disabled] .btn-steamstats:focus,
.btn-steamstats.disabled.focus,
.btn-steamstats[disabled].focus,
fieldset[disabled] .btn-steamstats.focus {
    background-color: #464b50;
    border-color: #5f6469;
}
.btn-steamstats .badge {
    color: #464b50;
    background-color: #fff;
}

.friend-container {
    /* padding: 20px; */
    /* margin: 20px; */
    border: 2px solid #4b4b4b;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    float: left;
    position: relative;
    width: 100%;
    /* background: #4b4b4b; */
}

.loader {
    position: absolute;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #4b4b4b; /* Grey */
    border-bottom: 6px solid #4b4b4b;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1.5s linear infinite;
}

.footer {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.readmore-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0 0 0;
    text-align: center;
}

/*
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
*/

.modal-content {
    background-color: #4b4b4b;
}

.positive {
    color: #90ba3c;
}

.neutral {
    color: #898989;
}

.negative {
    color: #ba3c50;
}

.profileHeaderBackground {
    margin: 0 auto;
    padding: 20px;
    background-color: #283242;
    /* rgb(26, 27, 31) rgb(30, 31, 38) rgb(40, 50, 66) rgb(30, 31, 38) rgb(26, 27, 31)*/
    background: -webkit-linear-gradient( 145deg, #1a1b1f 10%,#1a1b1f 40%,#1e1f26 52%,#1a1b1f 61%,#1a1b1f 85%);
    background: linear-gradient( 145deg, #1a1b1f 10%,#1a1b1f 40%,#1e1f26 52%,#1a1b1f 61%,#1a1b1f 85%);
}

.profileHeader {
    position: relative;
    margin: 0 auto;
}

.profileAvatar.profileHeaderSize {
    position: relative;
    width: 166px;
    height: 166px;
}

.profileHeaderContent {
    position: relative;
    color: #898989;
    font-size: 13px;
}

.profileHeader .profileHeaderCenteredPersona {
    position: relative;
}

.profileHeader .personaName {
    line-height: 40px;
    font-size: 24px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200; /* thin */

}

.profileAvatar.profileHeader {
    position: relative;
    width: 166px;
    height: 166px;
}

.profile .profileAvatar {
    float: left;
    margin-right: 7px;
}


.profile {
    text-align: left;
    height: 42px;
    padding: 4px 0 4px 4px;
    margin-bottom: 4px;
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    background-color: rgba( 84, 133, 183, 0.2);

    float: left;
    width: 290px;
    margin-right: 8px;
}

a.profile {
    display: block;
}

.profileLink {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.profile:hover {
    cursor: pointer;
    background-color: rgba( 117, 204, 255, 0.3);
}

.profile .profileAvatar {
    float: left;
    margin-right: 7px;
}

.profile .profileContent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile .playerLevel {
    float: right;
    margin: 4px 4px 0 0;
}

.profileAvatar {
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 0;
    padding: 1px;

}

.profileAvatar.profileHeader
.playerAvatarAutoSizeInner {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    padding: 2px;
    position: relative;
    width: 166px;
    height: 166px;
}

.profileAvatar.profileHeaderText {
    position: absolute;
    left: 186px;
    right: 268px;
    white-space: nowrap;
}

.profileAvatar.profileHeaderSize .playerAvatarAutoSizeInner img {
    float: left;
    background: none;
    filter: none;
    display: block;
    padding: 1px;
    width: 100%;
    height: 100%;
}

.profileAvatar.offline {
    background: -webkit-linear-gradient( top, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
    background: linear-gradient( to bottom, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
    filter: none;
}

.profileAvatar.offline img {
    background: -webkit-linear-gradient( top, #515151 5%, #474747 95%);
    background: linear-gradient( to bottom, #515151 5%, #474747 95%);
}

.profileAvatar.online {
    background-color: #57cbde;
    background: -webkit-linear-gradient( top, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    background: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    filter: none;
}

.profileAvatar.online img {
    background: -webkit-linear-gradient( top, #41778f 5%, #3d697b 95%);
    background: linear-gradient( to bottom, #41778f 5%, #3d697b 95%);
}

.profileAvatar.in-game {
    background-color: #90ba3c;
    background: -webkit-linear-gradient( top, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    background: linear-gradient( to bottom, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    filter: none;
}

.profileAvatar.in-game img {
    background: -webkit-linear-gradient( top, #66812e 5%, #59702b 95%);
    background: linear-gradient( to bottom, #66812e 5%, #59702b 95%);
}


.profileAvatar.golden {
    background-color: #e4ca63;
    background: -webkit-linear-gradient( 145deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
    background: linear-gradient( 145deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
}

.profileAvatar.golden img {
	background-color: #e4ca63;
	background: -webkit-linear-gradient( 145deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
    background: linear-gradient( 145deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
}

.profileAvatar.removed {
    background-color: #de6969;
    background: -webkit-linear-gradient( top, rgba(196,83,93,1) 5%, rgba(151,69,79,1) 95%);
    background: linear-gradient( to bottom, rgba(196,83,94,1) 5%, rgba(151,69,79,1) 95%);
    filter: none;
}

.profileAvatar.removed img {
    background: -webkit-linear-gradient( top, #8f414b 5%, #7b3d47 95%);
    background: linear-gradient( to bottom, #8f414b 5%, #7b3d47 95%);
}

.profileAvatar img {
    width: 32px;
    height: 32px;
    padding: 1px;
    border-radius: 0;
    border: none;
}

.persona, a.persona, .persona a {
    color: #898989;
}

.persona.online, a.persona.online, .persona.online a {
    color: #57cbde;
}

.persona.in-game, a.persona.in-game, .persona.in-game a {
    color: #90ba3c;
}

.persona.golden, a.persona.golden, .persona.golden a {
    color: #e4ca63;
}

.persona.removed, a.persona.removed, .persona.removed a {
    color: #de6969;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html,
body {
  height: 100%;
  background-color: #1B2838;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}